<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automobile Parts Management System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    {% if message %}
    {% for messages in message %}
      <script>
      alert('{{ messages }}');
      </script>
    {% endfor %}

  {% endif %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/admin"><i class="fas fa-car fa-2x"></i> <b style="font-size:30px;">Apna Autos</b></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/index"><i class="fas fa-home fa-2x"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/insertdata"><i class="fas fa-warehouse fa-2x"></i> Stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/garage"><i class="fas fa-database fa-2x"></i> Garage</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <center><i class="fas fa-car fa-8x"></i></center>
  <br>
  <div style=" margin-left: 250px; margin-right: 250px;">
	<div class="container mt-5" >
    <form  action="/insertdata" method="post">{%csrf_token%}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Car Brand</th>
          <th>Car Name</th>
          <th>Car Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" class="form-control" id = "listofbrands" list="Brands"
             placeholder="Enter Brand" name ="brand" autocomplete="off"
             required="True" value="{{brand}}" autofocus>
			 </td>
          <datalist id = "Brands">
            {%for brand in Brands%}
            <option value="{{brand.name}}"></option>
            {% endfor %}
          </datalist>

          <td><input type="text" class="form-control" id = "listofcars" list = "Cars"
             placeholder="Enter Car" name="car" autocomplete="off" required="True" value="{{car}}">
            </td>
          <datalist id = "Cars">
            {%for car in Cars%}
            <option value={{car.name}}></option>
            {% endfor %}
          </datalist>

          <td><input type="text" class="form-control" id = "listofyears" list = "Type"
				 placeholder="Enter Car Type" name="type" autocomplete="off" value="{{type}}"
			   ></td>
          <datalist id = "Type">
            {%for types in Type%}
            <option value={{types.name}}></option>
            {% endfor %}
          </datalist>

        </tr>
		</tbody>
		</table>

    </div>

	<div class="container mt-4">
	<table class="table table-bordered">
	  <thead>
		<tr>
		  <th>Item</th>
		  <th>Quantity</th>
		  <th>Price</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <td><input type="text" value="{{item}}" id = "listofitems" list = "Items"
					 class="form-control"
					 placeholder="Enter Item" autocomplete="off" required="True"
			name="item" autofocus></td>
		  <datalist id = "Items">
			{%for item in Items%}
			<option value={{item.name}}></option>
			{% endfor %}
		  </datalist>

		  <td><input type="number" class="form-control" placeholder="Enter Quantity" name="quantity"></td>
		  <td><input type="number" class="form-control" placeholder="Enter Price" name="price"></td>
		</tr>


	  </tbody>
	</table>
	<button class="btn btn-primary" type="submit">Submit</button>
    </form>
	</div>

	</div>


</body>
</html>
